.row{
    padding: 10px;
}
div{
    background-color: #5851b5;
    text-align: center;
    padding-top: 70px;
}

p#Nombre{
    font-weight: 800;
    margin-top: 20px;
}
/* foto de perfil */
@media(min-width:576px){
    #FotodePerfil{
        position: static;
        width: 69%;
        border-radius: 20%;
        box-shadow: 3px 3px 5px rgb(66, 66, 66);
        left: 5%;
    }
}
@media(max-width:575px){
    #FotodePerfil{
        position: absolute;
        width: 30%;
        border-radius: 15%;
        box-shadow: 3px 3px 8px rgb(88, 88, 88);
        left: 35.4%;
        top: 220px;
    }
    
}
