<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/PhotoPerfil.jpg" class="img-fluid" id="FotodePerfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="Nombre">Juan Manuel Ortega</p>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca De Mi</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi inventore dolorum ipsa nesciunt nam repellat perspiciatis porro vitae fugiat deserunt laborum vel, eveniet voluptatem cupiditate cumque nobis nemo doloribus nostrum?</p>
        </span>
    </div>
</div>