<div class="row">
  <h1>Hard & Soft Skills</h1>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="85"
  [radius]="80"
  [showUnits]="false"
  [imageSrc]="'../assets/HTML.png'"
  [showImage]="true"
  [imageHeight]="95"
  [imageWidth]="95"
  [titleFontSize]="'1.5em'"
  [showSubtitle]="false"
  [outerStrokeWidth]="7"
  [innerStrokeWidth]="2"
  [outerStrokeColor]="'#a129b1'"
  [innerStrokeColor]="'#574CC3'"
  [animation]="true"
  [animationDuration]="500"
></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="75"
  [radius]="80"
  [showUnits]="false"
  [imageSrc]="'../assets/CSS.png'"
  [showImage]="true"
  [imageHeight]="80"
  [imageWidth]="80"
  [titleFontSize]="'1.5em'"
  [showSubtitle]="false"
  [outerStrokeWidth]="7"
  [innerStrokeWidth]="2"
  [outerStrokeColor]="'#a129b1'"
  [innerStrokeColor]="'#574CC3'"
  [animation]="true"
  [animationDuration]="500"
></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="55"
  [radius]="80"
  [showUnits]="false"
  [imageSrc]="'../assets/JS.png'"
  [showImage]="true"
  [imageHeight]="85"
  [imageWidth]="135"
  [titleFontSize]="'1.5em'"
  [showSubtitle]="false"
  [outerStrokeWidth]="7"
  [innerStrokeWidth]="2"
  [outerStrokeColor]="'#a129b1'"
  [innerStrokeColor]="'#574CC3'"
  [animation]="true"
  [animationDuration]="500"
></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="70"
  [radius]="80"
  [showUnits]="false"
  [imageSrc]="'../assets/github2.png'"
  [showImage]="true"
  [imageHeight]="90"
  [imageWidth]="90"
  [titleFontSize]="'1.5em'"
  [showSubtitle]="false"
  [outerStrokeWidth]="7"
  [innerStrokeWidth]="2"
  [outerStrokeColor]="'#a129b1'"
  [innerStrokeColor]="'#574CC3'"
  [animation]="true"
  [animationDuration]="500"
></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="80"
  [radius]="80"
  [showUnits]="false"
  [imageSrc]="'../assets/EQUIPO.png'"
  [showImage]="true"
  [imageHeight]="80"
  [imageWidth]="80"
  [titleFontSize]="'1.5em'"
  [showSubtitle]="false"
  [outerStrokeWidth]="7"
  [innerStrokeWidth]="2"
  [outerStrokeColor]="'#a129b1'"
  [innerStrokeColor]="'#574CC3'"
  [animation]="true"
  [animationDuration]="500"
></circle-progress>
  </div>
  <div class="text-center col-sm-4 col-md-4 col-lg-4">
    <circle-progress
  [percent]="45"
  [radius]="80"
  [showUnits]="false"
  [imageSrc]="'../assets/ingles.png'"
  [showImage]="true"
  [imageHeight]="80"
  [imageWidth]="80"
  [titleFontSize]="'1.5em'"
  [showSubtitle]="false"
  [outerStrokeWidth]="7"
  [innerStrokeWidth]="2"
  [outerStrokeColor]="'#a129b1'"
  [innerStrokeColor]="'#574CC3'"
  [animation]="true"
  [animationDuration]="500"
></circle-progress>
  </div>
</div>