<div class="row">
    <h1 class="h1-main">Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Trabajo</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores obcaecati autem rerum nemo corrupti sequi maxime voluptatum libero, ea fugiat natus animi sit consectetur, ab sapiente earum in molestias error.</p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo-2</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores obcaecati autem rerum nemo corrupti sequi maxime voluptatum libero, ea fugiat natus animi sit consectetur, ab sapiente earum in molestias error.</p>
        </ul>
        <ul>
            <li>
                <h1>Trabajo-3</h1> - <h3>(years)</h3>
            </li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores obcaecati autem rerum nemo corrupti sequi maxime voluptatum libero, ea fugiat natus animi sit consectetur, ab sapiente earum in molestias error.</p>
        </ul>
    </div>
</div>