<div class="row">
    <h1>Proyectos Realizados</h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md7 col-lg-7 parte1">
            <h1 class="proyecto-title">Portfolio-FullStack</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur, itaque architecto. Amet repellendus, et voluptas voluptate ab maiores perspiciatis nobis tenetur accusamus unde incidunt assumenda sed illum quas ex dolor.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 ofsett-md-1 ofsett-lg-1 parte2">
            <img src="../../../assets/Logo-Proyecto.png" class="img-fluid img-proyecto">
        </div>
    </div>
</div>