.row{
    padding: 20px;
    background-color: #5851b5;
}

.contenedor{
    width: auto;
}

.parte1, .parte2{
    display: inline-block;
    text-align: center;

}

.img-proyecto{
    width: 12rem;
    border-radius: 15px;

}

.img-proyecto{
    box-shadow: 1px 2px 10px 2px rgb(10, 10, 10);
}

h1{
    padding-bottom: 2%;
}