.row{
    padding: 20px;
    margin: auto;
}
div{
    background-color: #5851b5;
    text-align: center;
    padding-top: 70px;
}

#Nombre{
    font-weight: bold;
    margin-top: 23%;
}

/* foto de perfil */
@media(min-width:576px){
    #FotodePerfil{
        position: absolute;
        width: 11%;
        border-radius: 20%;
        box-shadow: 3px 3px 5px rgb(66, 66, 66);
        left: 3%;
        top: 600px;
    }
}
@media(max-width:575px){
    #FotodePerfil{
        position: absolute;
        width: 30%;
        border-radius: 15%;
        box-shadow: 3px 3px 8px rgb(88, 88, 88);
        left: 35.4%;
        top: 580px;
    }
}
