#logoAP{
    width: 160px;
    margin-top: -15px;
    margin-bottom: -20px;
    margin-left: 25px;
}

#logoAP2{
    width: 220px;
    margin-top: -15px;
    margin-bottom: -20px;
    margin-left: 2em;
}