.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logoAP{
    width: 150px;
    margin-top: -15px;
    margin-bottom: -20px;
    margin-left: 25px;
}

#logoAP2{
    width: 220px;
    margin-top: -15px;
    margin-bottom: -20px;
    margin-left: 2em;
}
img{
    width: 60px;
    padding: 15px;
    margin: auto;
}

/* para moviles */
@media (max-widht: 575px){
    .container{
        flex-direction: column;
    }
    
    .redes{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .redes img{
        margin: 0.2em;
    }
}

