<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo-20-20.png" id="logoAP">
            <code>#YoProgramo</code>
            <!-- <img src="../../../assets/LogosInti.png" id="logoAP2"> -->
        </div>
        <div class="redes">
            <div>
                <a href="https://www.linkedin.com/in/juan-ortega-480a0121b/"><img src="../../../assets/linkedin.png" id="linkedin"></a>
                <a href="https://github.com/JuanMa99z"><img src="../../../assets/github.png" id="github"></a>
                <a href="https://www.instagram.com/juan6ortega/"><img src="../../../assets/logotipo-de-instagram.png" id="instagram"></a>
                <a href="https://www.facebook.com/juan.ortega.754"><img src="../../../assets/facebook.png" id="facebook"></a>
                <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!isLogged">INGRESO</button>
                <button type="button" class="btn btn-outline-light" (click)="onLogOut()" *ngIf="isLogged">CERRAR SESION</button>

            </div>
        </div>
    </div>
</div>
